.footer {
	padding: 2em 0;
	text-align: center;
	color: $dark-white;
	background-color: $section-container-color;

	&__icons {
		padding-top: 1em;
	}

	&__icon {
		padding: 0 0.5em;
		color: $dark-white;
		text-decoration: none;
	}
}

// SMALL

@media (min-width: 576px) {
	.footer {
		&__icon {
			font-size: 2.5rem;
		}
	}
}
