@media (min-width: 992px) {
	.container {
		padding: 2em;
		height: 90vh;
		min-height: 1000px;
		margin: 2em auto;
	}

	.about-me {
		height: 100vh;
		min-height: 1000px;

		&__header {
			flex-direction: row;

			&-photo {
				margin: 0;
				position: absolute;
				left: 58%;
				top: 5em;
			}
		}

		&__content {
			flex-direction: row;
		}

		&__personal,
		&__skills {
			width: 50%;
			height: 90vh;
		}

		&__personal {
			justify-content: space-between;
			padding: 5em 1em 5em 0;

			&-description {
				margin-top: 2em;
			}

			&-animation {
				margin: 2em 0 0 0;

				& .personal-animation--active {
					padding: 0.5em 0;
				}
			}
		}

		&__skills {
			padding: 5em 0 5em 1em;
			justify-content: space-between;

			&-title {
				visibility: hidden;
			}

			&-icons {
				display: grid;
				grid-template-columns: repeat(3, 3fr);
				gap: 1.5em;
				font-size: 1.4rem;
				margin-top: 18em;

				& .fa-brands {
					font-size: 5rem;
				}

				& .last-icon {
					display: block;
				}
			}

			&-watch-projects {
				margin-top: 2em;
				font-size: 2.4rem;

				& .fa-chevron-down {
					font-size: 4rem;
					margin-top: 0;
				}
			}
		}
	}

	.contact {
		&__box {
			width: 50%;
		}
	}
}
