@media (min-width: 992px) {
	.nav {
		height: 70px;
		background-color: transparent;

		&--dark {
			background-color: rgb(5, 5, 5);
		}

		&__container {
			width: 50%;
			flex-direction: row;
			margin: 0 auto;
			background-color: transparent;
			transform: translateX(0);
		}

		&__link {
			font-size: 2rem;
			height: 70px;
			line-height: 70px;
			border: none;

			&--active {
				box-shadow: none;
			}

			&:hover {
				color: $main-yellow;
			}

			&--skills {
				display: none;
			}
		}
	}

	.hamburger {
		display: none;
	}

	// .container {
	// 	padding: 2em;
	// 	height: 90vh;
	// 	min-height: 1000px;
	// 	margin: 2em auto;
	// }

	.section-container {
		padding-top: 3em;
	}

	// .about-me {
	// 	height: 100vh;
	// 	min-height: 1000px;

	// 	&__header {
	// 		flex-direction: row;

	// 		&-photo {
	// 			margin: 0;
	// 			position: absolute;
	// 			left: 58%;
	// 			top: 5em;
	// 		}
	// 	}

		// &__content {
		// 	flex-direction: row;
		// }

		// &__personal,
		// &__skills {
		// 	width: 50%;
		// 	height: 90vh;
		// }

		// &__personal {
		// 	justify-content: space-between;
		// 	padding: 2em 1em 2em 0;

		// 	&-animation {
		// 		margin: 1em 0 0 0;

		// 		& .personal-animation--active {
		// 			padding: 0.5em 0;
		// 		}
		// 	}
		// }

	// 	&__skills {
	// 		padding: 2em 0 2em 1em;
	// 		justify-content: space-between;

	// 		&-title {
	// 			visibility: hidden;
	// 		}

	// 		&-icons {
	// 			display: grid;
	// 			grid-template-columns: repeat(3, 3fr);
	// 			gap: 1.5em;
	// 			font-size: 1.4rem;
	// 			margin-top: 18em;

	// 			& .fa-brands {
	// 				font-size: 5rem;
	// 			}

	// 			& .last-icon {
	// 				display: block;
	// 			}
	// 		}

	// 		&-watch-projects {
	// 			margin-top: 2em;
	// 			font-size: 2.4rem;

	// 			& .fa-chevron-down {
	// 				font-size: 4rem;
	// 				margin-top: 0;
	// 			}
	// 		}
	// 	}
	// }

	.contact {
		&__box {
			width: 50%;
		}
	}

	.footer {
		&__icon {
			font-size: 3rem;
		}
	}
}
