.container {
	height: 100%;
	width: 100%;
	display: flex;
	padding: 0 1em;
	background-color: $main-container-color;
}

.wrapper {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
}

.hidden {
	display: none;
}

.section-title {
	font-size: 2.5rem;
	text-transform: uppercase;
	text-align: center;
	background: $main-gold;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: 0.2rem;
	padding: 0.2em;
}

.header-title-name {
	font-size: 3.5rem;
}

.section-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 2em;
	padding: 0 2em;
}

.about-me {
	letter-spacing: 0.2em;

	&__header {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

		&-photo {
			margin: 3em 0;

			&--img {
				border-radius: 50%;
				width: 10em;
				height: 10em;
			}
		}

		&-title {
			& .header-title {
				&-dev {
					text-transform: lowercase;
				}
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
	}

	&__personal {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 100vh;
		min-height: 700px;

		&-description {
			text-align: center;
			letter-spacing: 0.2em;
		}

		&-animation {
			text-align: right;
			line-height: 1.5em;
			margin: 2em 0;
			color: $dark-white;

			& span {
				text-transform: uppercase;
				font-weight: bold;
			}

			& .personal-animation--active {
				color: $dirty-white;
				padding: 0.2em 0;

				& span {
					color: $main-yellow;
				}
			}
		}
	}

	&__skills {
		padding: 2em 0;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		font-size: 2.5rem;
		text-align: center;

		&-icons {
			display: grid;
			grid-template-columns: repeat(2, 4fr);
			gap: 1.5em;
			text-align: center;
			margin: 2em 0;

			& .skills-icon {
				padding: 0.5em;
			}

			& .fa-brands {
				font-size: 5rem;
			}

			& .icon-name {
				text-transform: uppercase;
				font-size: 1.5rem;
				padding-top: 0.2em;
			}

			& .last-icon {
				display: none;
			}
		}

		&-watch-projects {
			text-align: center;

			& .fa-chevron-down {
				padding: 0.5em;
				cursor: pointer;
				position: relative;

				&::after {
					@include pulse-element(50%);
					animation: pulse 2s infinite;
				}
			}
		}
	}
}

.projects {
	& .project-box {
		display: flex;
		flex-direction: column;
		border-radius: 30px;
		background-color: $section-container-color;
		position: relative;
		border: 1px solid transparent;
		width: 100%;
		margin: 2em 0;
		overflow: hidden;
		position: relative;

		&__picture {
			width: 100%;
			transition: transform 0.3s;
			filter: brightness(0.4);
		}

		&:hover .project-box__picture {
			transform: scale(1.1);
		}

		&__content {
			padding: 2em;
			text-align: center;
			z-index: 10;
			margin: auto 0;

			& .project-title {
				font-size: 2rem;
				padding: 1em 0;
				text-transform: lowercase;
			}

			& .git-link {
				text-decoration: none;
				color: $dark-white;

				&:hover {
					color: $dirty-white;
				}
			}

			& .fa-github-square {
				font-size: 3rem;
				position: absolute;
				top: 0;
				right: 0;
				padding: 0.5em;
			}
		}
	}
}

.contact {
	margin-top: 2em;
}
