.container {
	height: 100vh;
	width: 100%;
	display: flex;
	padding: 1em;
	background-color: rgba(15, 15, 15, 0.7);
}

.wrapper {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
}

.hidden {
	display: none;
}

.title {
	text-transform: uppercase;
	background: $main-gold;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.about-me {
	font-size: 1.4rem;
	letter-spacing: 0.2em;

	&__header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&-photo {
			margin: 1em 0;

			&--img {
				border-radius: 50%;
				width: 8em;
				height: 8em;
			}
		}

		&-title {
			& .header-title {
				letter-spacing: 0.2rem;
				text-align: center;

				&-dev {
					color: $dirty-white;
				}
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		height: 70%;
		padding: 0 1em;
	}

	&__personal {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&-description {
			text-align: center;
			letter-spacing: 0.2em;
		}

		&-animation {
			text-align: right;
			line-height: 1.5em;
			margin-top: 2em;
			color: $dark-white;
			font-size: 1.2rem;

			& span {
				text-transform: uppercase;
				font-weight: bold;
			}

			& .personal-animation--active {
				color: $dirty-white;
				font-size: 1.6rem;
				padding: 0.2em 0;

				& span {
					color: $main-yellow;
				}
			}
		}
	}

	&__skills {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&-title {
			color: $main-yellow;
			text-align: center;
			padding-bottom: 1em;
			grid-column: 1/3;
			grid-row: 1;
			font-size: 2.6rem;
		}

		&-icons {
			text-align: center;
			display: grid;
			// grid-template-columns: repeat(4, 3fr);
			grid-template-columns: repeat(2, 5fr);
			gap: 1.5em;

			& .fa-brands {
				font-size: 6rem;
			}

			& .icon-name {
				text-transform: uppercase;
			}
		}

		&-watch-projects {
			margin: 0 auto;
			padding-top: 2em;
			text-align: center;

			& .watch-projects {
				font-size: 2.6rem;
			}

			& .fa-chevron-down {
				font-size: 4rem;
				padding: 0.3em;
				cursor: pointer;
			}
		}
	}
}
