.nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 400px;
	z-index: 10;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transform: translateX(-102%);
		transition: transform 0.3s;
		background-color: rgb(28, 28, 28);

		&--active {
			transform: translateX(0);
		}
	}

	&__link {
		color: $dark-white;
		text-decoration: none;
		font-size: 2rem;
		width: 100%;
		height: 100px;
		text-align: center;
		line-height: 100px;
		text-transform: uppercase;
		border: thin solid rgb(15, 15, 15);
		letter-spacing: 0.2rem;
		text-shadow: 8px -3px 8px rgb(15, 15, 15);

		&--active {
			box-shadow: 2px 2px 0 0 rgba(128, 128, 128, 0.8),
				inset 11px 6px 14px rgba(0, 0, 0, 0.6);
			color: $main-yellow;
		}
	}
}

.hamburger {
	position: fixed;
	z-index: 10;

	&-inner,
	&-inner::before,
	&-inner::after {
		background-color: $dark-white;
	}
}

.container {
	height: 100%;
	width: 100%;
	display: flex;
	padding: 0 1em;
	background-color: $main-container-color;
}

.wrapper {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
}

.hidden {
	display: none;
}

.section-title {
	font-size: 2.5rem;
	text-transform: uppercase;
	text-align: center;
	background: $main-gold;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: 0.2rem;
	padding: 0.2em;
}

.header-title-name {
	font-size: 3.5rem;
}

.section-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 2em;
	padding: 0 2em;
}

.button {
	padding: 1em;
	width: 40%;
	background: $btn-color;
	border-radius: 10px;
	cursor: pointer;
	color: $main-yellow;
	border-width: thin;
	border: 1px solid $dark-white;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
	letter-spacing: 0.2em;

	&:focus {
		outline: transparent;
	}

	&::before {
		@include glass-element;
	}

	&:hover::before {
		animation: glass 0.6s;
	}
}

.about-me {
	letter-spacing: 0.2em;

	&__header {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

		&-photo {
			margin: 3em 0;

			&--img {
				border-radius: 50%;
				width: 10em;
				height: 10em;
			}
		}

		&-title {
			& .header-title {
				&-dev {
					text-transform: lowercase;
				}
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
	}

	&__personal {
		padding-top: 2em;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 95vh;
		min-height: 720px;

		&-description {
			text-align: center;
			letter-spacing: 0.2em;
		}

		&-animation {
			text-align: right;
			line-height: 1.5em;
			margin: 2em 0;
			color: $dark-white;

			& span {
				text-transform: uppercase;
				font-weight: bold;
			}

			& .personal-animation--active {
				color: $dirty-white;
				padding: 0.2em 0;

				& span {
					color: $main-yellow;
				}
			}
		}
	}

	&__skills {
		padding: 2em 0;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		font-size: 2.5rem;
		text-align: center;

		&-icons {
			display: grid;
			grid-template-columns: repeat(2, 4fr);
			gap: 1.5em;
			text-align: center;
			margin: 2em 0;

			& .skills-icon {
				padding: 0.5em;
			}

			& .fa-brands {
				font-size: 5rem;
			}

			& .icon-name {
				text-transform: uppercase;
				font-size: 1.5rem;
				padding-top: 0.2em;
			}

			& .last-icon {
				display: none;
			}
		}

		&-watch-projects {
			text-align: center;

			& .fa-chevron-down {
				padding: 0.5em;
				cursor: pointer;
				position: relative;

				&::after {
					@include pulse-element(50%);
					animation: pulse 2s infinite;
				}
			}
		}
	}
}

.projects {
	& .project-box {
		display: flex;
		flex-direction: column;
		border-radius: 30px;
		background-color: $section-container-color;
		position: relative;
		border: 1px solid transparent;
		width: 100%;
		margin: 2em 0;
		overflow: hidden;
		position: relative;

		&__picture {
			width: 100%;
			transition: transform 0.3s;
			filter: brightness(0.4);
		}

		&:hover .project-box__picture {
			transform: scale(1.1);
		}

		&__content {
			padding: 2em;
			text-align: center;
			z-index: 1;
			margin: auto 0;

			& .project-title {
				font-size: 2rem;
				padding: 1em 0;
				text-transform: lowercase;
			}

			& .git-link {
				text-decoration: none;
				color: $dark-white;

				&:hover {
					color: $dirty-white;
				}
			}

			& .fa-github-square {
				font-size: 3rem;
				position: absolute;
				top: 0;
				right: 0;
				padding: 0.5em;
			}
		}
	}
}

.contact {
	margin-top: 3em;
	text-align: center;

	&__box {
		width: 90%;
		padding: 2em 0 4em 0;
	}

	&__phone {
		padding: 1em;
		display: flex;
		align-items: center;
		justify-content: center;

		&--icon {
			color: $dark-white;
		}

		&--text {
			padding-left: 0.5em;
		}
	}

	&__form {
		& .contact-input {
			width: 100%;
			background-color: $section-container-color;
			text-decoration: none;
			border: 0;
			margin: 0.5em;
			padding: 1em;
			width: 100%;
			font-size: 1.4rem;
			color: $dark-white;
			border-radius: 10px;

			&:focus {
				outline: transparent;
			}
		}

		& .contact-textarea {
			min-height: 200px;
			resize: none;
		}

		& .form__btn {
			margin: 0.5em;

			& .contact-btn {
				font-size: 1.4rem;
			}
		}
	}
}

.footer {
	background-color: $section-container-color;
	color: $dark-white;
	padding: 1em 0;
	text-align: center;

	&__icons {
		text-decoration: none;
		padding: 1em;
	}

	&__icon {
		padding: 0 0.5em;
		text-decoration: none;
		color: $dirty-white;

		&:hover {
			color: $main-yellow;
		}
	}
}
