@media (min-width: 768px) {
	body {
		font-size: 2.2rem;
	}

	.container {
		padding: 0 3em;
	}

	.section-title {
		font-size: 3.5rem;
	}

	.header-title-name {
		font-size: 4rem;
	}

	.about-me {
		&__personal {
			min-height: 1000px;

			&-animation {
				& .personal-animation--active {
					padding: 0.4em 0;
				}
			}
		}

		&__skills {
			&-icons {
				margin: 3em 0;

				& .fa-brands {
					font-size: 10rem;
				}
			}
		}
	}

	.projects {
		& .project-box {
			flex-direction: row;
			margin: 2em 4em;

			&__picture {
				width: 50%;
			}

			&--right {
				& .project-box__content {
					order: -1;
				}

				& .fa-github-square {
					left: -100%;
					transform: translateX(40px);
				}
			}
		}
	}
}
