@media (min-width: 768px) {
	.container {
		padding: 0 3em;
	}

	.section-title {
		font-size: 3.5rem;
	}

	.about-me {
		&__header {
			&-title {
				& .header-title-name {
					font-size: 4.5rem;
				}
			}
		}

		&__personal {
			font-size: 2.2rem;

			&-animation {
				font-size: 2rem;

				& .personal-animation--active {
					padding: 0.4em 0;
				}
			}
		}

		&__skills {
			font-size: 3.5rem;

			&-icons {
				margin: 3em 0;

				& .fa-brands {
					font-size: 10rem;
				}
			}
		}
	}

	.projects {
		& .project-box {
			flex-direction: row;
			margin: 2em 4em;

			&__picture {
				width: 50%;
				height: auto;
			}

			&--right {
				& .project-box__content {
					order: -1;
				}
			}
		}
	}
}
