@media (min-width: 768px) {
	body {
		font-size: 1.6rem;
	}

	.section-title {
		font-size: 3.5rem;
	}

	// .about-me {
	// 	min-height: 1000px;
	// }

	.skills {
		&__icon {
			& .fa-brands {
				font-size: 7rem;
			}
		}

		&__watch-projects {
			& .fa-chevron-down {
				font-size: 3rem;
			}
		}
	}

	.projects {
		& .project-box {
			flex-direction: row;
			margin: 2em 4em;

			&__picture {
				width: 50%;
			}

			&--right {
				& .project-box__content {
					order: -1;
				}

				& .fa-github-square {
					left: -100%;
					transform: translateX(40px);
				}
			}
		}
	}

	.contact {
		&__box {
			width: 70%;
		}

		&__form {
			& .contact-input {
				font-size: 1.8rem;
			}

			& .form__btn {
				& .contact-btn {
					font-size: 1.8rem;
				}
			}
		}
	}
}
