.skills {
	width: 100%;
	@include flex(flex, column, center, "");
	padding: 2em;
	letter-spacing: 0.2em;

	&__icons {
		margin: 3em 0;
		display: grid;
		grid-template-columns: repeat(2, 4fr);
		gap: 1.2em;
		text-align: center;
	}

	&__icon {
		padding: 0.5em;
		opacity: 1;

		& .fa-brands {
			font-size: 5rem;
		}

		& .icon-name {
			padding-top: 1em;
			text-transform: uppercase;
			background-color: $main-container-color;
		}
	}

	&__last-icon {
		display: none;
	}

	&__watch-projects {
		padding-top: 2em;
		text-align: center;

		&--link {
			text-decoration: none;
			color: $dark-white;
		}

		& .fa-chevron-down {
			position: relative;
			padding: 0.5em;
			cursor: pointer;

			&::after {
				@include pulse-element(50%);
				animation: pulse 3s infinite;
			}
		}
	}
}

@media (min-width: 768px) {
	.skills {
		width: 50%;
		height: 100%;
		background-color: $shadow-container-color;

		&__title {
			text-transform: lowercase;
		}

		&__icons {
			grid-template-columns: repeat(3, 3fr);
		}

		&__icon {
			& .fa-brands {
				font-size: 3rem;
			}

			& .icon-name {
				font-size: 1.2rem;
			}
		}

		&__last-icon {
			display: block;
		}

		&__watch-projects {
			padding-top: 0;
		}
	}
}