@media (min-width: 576px) {
	.container {
		padding: 0 2em;
	}

	.section-title {
		font-size: 3rem;
	}

	.about-me {
		font-size: 2rem;

		&__header {
			&-photo {
				&--img {
					width: 12em;
					height: 12em;
				}
			}

			&-title {
				& .header-title-name {
					font-size: 4rem;
				}
			}
		}

		&__personal {
			font-size: 2rem;
			min-height: 700px;

			&-animation {
				font-size: 1.8rem;

				& .personal-animation--active {
					padding: 0.3em 0;
				}
			}
		}

		&__skills {
			font-size: 3rem;

			&-icons {
				& .fa-brands {
					font-size: 8rem;
				}

				& .icon-name {
					font-size: 2rem;
				}
			}
		}
	}

	// .projects {

	// 	&__box {

	// 		& .project {

	// 		}
	// 	}
	// }
}
