@media (min-width: 1200px) {
	.container {
		padding: 3em;
		height: 100vh;
		min-height: 1000px;
	}

	.about-me {
		font-size: 2rem;

		&__header {
			flex-direction: row;

			&-photo {
				margin: 0;
				position: absolute;
				left: 58%;
				top: 4em;

				&--img {
					width: 12em;
					height: 12em;
				}
			}

			&-title {
				& .header-title-name {
					font-size: 5rem;
				}

				& .header-title-dev {
					font-size: 4rem;
				}
			}
		}

		&__content {
			flex-direction: row;
		}

		&__personal,
		&__skills {
			width: 50%;
			height: 90vh;
		}

		&__personal {
			font-size: 2.4rem;
			justify-content: space-between;
			padding: 4em 1em 4em 0;

			&-description {
				margin-top: 4em;
			}

			&-animation {
				font-size: 2rem;
				margin: 4em 0 0 0;

				& .personal-animation--active {
					padding: 0.5em 0;
				}
			}
		}

		&__skills {
			margin-top: 0;
			padding: 4em 0 4em 1em;

			&-title {
				visibility: hidden;
				grid-column: 1/5;
			}

			&-icons {
				grid-template-columns: repeat(4, 3fr);
				margin-top: 20em;

				& .fa-brands {
					font-size: 6rem;
				}
			}

			&-watch-projects {
				margin: 2em 0 0 0;

				& .watch-projects {
					font-size: 2.4rem;
				}

				& .fa-chevron-down {
					font-size: 4rem;
				}
			}
		}
	}
}
