@media (min-width: 1200px) {
	.container {
		padding: 5em;
	}

	.about-me {
		font-size: 2rem;

		&__header {
			flex-direction: row;
			margin-bottom: 2em;

			&-photo {
				margin: 1em 1em 1em 10em;
			}

			&-title {
				& .header-title-name {
					font-size: 4rem;
				}

				& .header-title-dev {
					font-size: 3rem;
				}
			}
		}

		&__content {
			flex-direction: row;
		}

		&__personal,
		&__skills {
			width: 50%;
			padding: 1em 2em;
		}

		&__personal {
			&-description {
				text-align: center;
				letter-spacing: 0.2em;
			}

			&-animation {
				line-height: 1.5em;
				font-size: 2.2rem;

				& .personal-animation--active {
					font-size: 2.6rem;
					padding: 0.5em 0;
				}
			}
		}

		&__skills {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			&-title {
				color: $main-yellow;
				text-align: center;
				padding-bottom: 1em;
				grid-column: 1/5;
				grid-row: 1;
				font-size: 2.6rem;
			}

			&-icons {
				text-align: center;
				display: grid;
				grid-template-columns: repeat(4, 3fr);
				gap: 1.5em;

				& .fa-brands {
					font-size: 6rem;
				}

				& .icon-name {
					text-transform: uppercase;
				}
			}

			&-watch-projects {
				margin: 0 auto;
				padding-top: 2em;
				text-align: center;

				& .watch-projects {
					font-size: 2.6rem;
				}

				& .fa-chevron-down {
					font-size: 4rem;
					padding: 0.3em;
					cursor: pointer;
				}
			}
		}
	}
}
