//-----COLORS-----
$dirty-white: rgb(167, 164, 164);
$dark-white: rgb(80, 79, 79);
$main-yellow: #cba249;
$tittle-yellow: #deb968;

//-----SETTINGS-----

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 2rem;
	background-image: url(../../src/images/stars-g41a1685af_640.png);
	background-size: cover;
	color: $dirty-white;
}
