//-----COLORS-----

$main-container-color: rgba(0, 0, 0, 0.6);
$shadow-container-color: rgba(0, 0, 0, 0.6);
$section-container-color: rgb(16, 16, 16);
$nav-mobile-color: rgb(28, 28, 28);
$almost-black: rgb(15, 15, 15);
$dark-grey: rgb(60, 60, 60);
$dirty-white: rgb(167, 164, 164);
$dark-white: rgb(80, 79, 79);
$main-yellow: rgb(216, 197, 146);
$btn-color: rgba(0, 0, 0, 0.5);
$main-gold: linear-gradient(
	0deg,
	rgb(210, 169, 83) 0%,
	rgb(207, 179, 117, 1) 30%,
	rgb(245, 238, 175) 50%,
	rgba(207, 179, 117, 1) 60%,
	rgba(210, 169, 83, 1) 100%
);

//-----SETTINGS-----

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 1.2rem;
	color: $dirty-white;
	background-image: url(../../src/images/stars-g41a1685af_640.png);
	background-repeat: repeat;
}

// SMALL

@media (min-width: 576px) {
	body {
		font-size: 1.8rem;
	}
}

// MEDIUM

@media (min-width: 768px) {
	body {
		font-size: 1.4rem;
	}
}

// LARGE

@media (min-width: 992px) {
	body {
		font-size: 1.5rem;
	}
}
