.container {
	height: 100vh;
	width: 100%;
	display: flex;
	padding: 5em;
}

.wrapper {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
}

.hidden {
	display: none;
}

.title {
	text-transform: uppercase;
}

.about-me {
	&__header {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 3em;

		&-photo {
			margin: 0 2em;

			&--img {
				border-radius: 50%;
			}
		}

		&-title {
			font-size: 2.6rem;
		}
	}

	&__content {
		display: flex;
		height: 70%;
		letter-spacing: 0.2em;
	}

	&__personal,
	&__skills {
		width: 50%;
		padding: 1em 2em;
	}

	&__personal {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&-description {
			text-align: center;
		}

		&-animation {
			text-transform: uppercase;
			text-align: right;
		}
	}

	&__skills {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&-icons {
			display: flex;
			justify-content: space-around;
			text-align: center;

			& i {
				font-size: 10rem;
			}
		}

		&-watch-projects {
			text-align: center;

			& i {
				font-size: 4rem;
				padding: 0.3em;
			}
		}
	}
}

// .about-me,
// .skills {
// 	height: 70%;
// 	padding: 2em;
// 	color: white;
// 	width: 50%;
// }

// .about-me {
// 	border: 2px, solid, grey;
// 	text-align: right;

// 	&__photo {
// 		position: absolute;
// 		left: 50%;
// 		transform: translateX(-50%);
// 		top: 10%;
// 	}

// 	&__description {
// 		text-align: center;
// 		margin: 2em;
// 	}
// }

// .skills {
// }
