.container {
	height: 100vh;
	width: 100%;
	display: flex;
	padding: 5em;
}

.wrapper {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
}

.hidden {
	display: none;
}

.title {
	text-transform: uppercase;
	// color: #00a9b5;
	color: $main-yellow;
	text-shadow: 1px 1px 2px rgb(21, 21, 21), 0.7em 0 2em rgb(172, 169, 169),
		0 0 0.5em rgb(195, 187, 187);
}

.about-me {
	&__header {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 5em;

		&-photo {
			margin: 0 3em;

			&--img {
				border-radius: 50%;
				width: 10em;
				height: 10em;
			}
		}

		&-title {
			font-size: 3rem;
			letter-spacing: 0.2rem;
			text-align: center;
		}
	}

	&__content {
		display: flex;
		height: 60%;
	}

	&__personal,
	&__skills {
		width: 50%;
		padding: 1em 2em;
	}

	&__personal {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&-description {
			text-align: center;
			letter-spacing: 0.2em;
		}

		&-animation {
			text-align: right;
			font-size: 2.2rem;
			line-height: 1.5em;
			margin-top: 5em;

			& span {
				text-transform: uppercase;
				font-weight: bold;
				color: $main-yellow;
				letter-spacing: 0.2rem;
			}
		}
	}

	&__skills {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&-icons {
			margin: 1em;
			display: flex;
			justify-content: space-around;
			text-align: center;

			& .fa-brands {
				font-size: 8rem;
			}

			& .icon-name {
				text-transform: uppercase;
			}
		}

		&-watch-projects {
			text-align: center;

			& .fa-chevron-down {
				font-size: 4rem;
				padding: 0.3em;
				cursor: pointer;
			}
		}
	}
}

// .about-me,
// .skills {
// 	height: 70%;
// 	padding: 2em;
// 	color: white;
// 	width: 50%;
// }

// .about-me {
// 	border: 2px, solid, grey;
// 	text-align: right;

// 	&__photo {
// 		position: absolute;
// 		left: 50%;
// 		transform: translateX(-50%);
// 		top: 10%;
// 	}

// 	&__description {
// 		text-align: center;
// 		margin: 2em;
// 	}
// }

// .skills {
// }
